<!-- Android では、Google Chrome等の省電力設定を解除する必要があります。 -->
<!DOCTYPE html>
<html>
  <title>Index_Voice_Converter.html by VOICEVOX by T. Fujita 2022/11/21 Revised</title>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">  
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="static/css/bot.css" />
    <link rel="stylesheet" type="text/css" href="static/css/dialog_001.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="static/js/encoding.min.js"></script>
  </head>
  <body>
    <Center><h1>
      <img src="/static/images/R_011_R.png" alt="CANDICE" style="width:50px;height:50px;vertical-align:bottom;"/>
      日本語ボイスコンバータ／with VOICEVOX
      <img src="/static/images/R_012_R.png" alt="CANDICE" style="width:50px;height:50px;vertical-align:bottom;transform: scale(-1, 1);"/><br>
      <div id="Speech_Flag">
        <input type="button" class="normalButton" style="position:absolute; top:60px; left:10%; font-size: 20px; background-color: #ff0000; " value="音声入力 OFF" onclick="OnButtonClick_01();">
      </div>
      <div id="Voice_Flag">
        <input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff; " value="VOICEVOX:四国めたん（あまあま）" onclick="Dialog_open_VoiceOptions();">
      </div>
      <input type="button" class="normalButton" value="設　定" style="position:absolute; top:60px; right:10%; font-size: 20px;" onclick="Dialog_open_menu();"/>
    </h1></Center>
    <div class="box"></div>
    <div class="boxed" style="position: absolute; top:120px; left:3%;">
      <div>
        <div id="chatbox">
          <p class="botText">
            <img src="./static/images/F021a_R.png" alt="BOT" style="width:50px;height:50px;vertical-align:bottom;"/>
            <span>これは、VOICEVOXによる音声変換器です。　何か入力していただけますか？<br>
              入力された言葉を指定されたキャラクターの音声に変換します。　
              初めに「VOICEVOX-Ver.0.13.3 以降」を起動しておいてください。音声変換に時間がかかるのはお許し下さいね！💖
            </span>
          </p>
        </div>
        <div id="userInput">
          <input id="textInput" type="text" name="msg" placeholder="Message" />
        </div>
      </div>
    </div>

<!-- Dialog_Menu -->
<dialog dialog id="dialog_menu">
    <center><font size="4" color="#fff">
        ダイアログ（メニュー）
    </font></center>
    <hr>
    <nav class="nav">
      <ul class="nav__menu"><font size="2">
        <li class="nav__menu-item"><a>Informations</a>
            <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a href="javascript: Dialog_open_information()">Information</a></li>
                <li class="nav__submenu-item"> <a href="javascript: Dialog_open_manual()">Manual</a></li>
                <li class="nav__submenu-item"> <a href="javascript: Dialog_open_profile()">Profile</a></li>
            </ul>                
        </li>
        <li class="nav__menu-item"><a>Bot Options</a>
            <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a href="javascript: Dialog_open_botIcon()">Bot's Icon</a></li>
                <li class="nav__submenu-item"> <a href="javascript: Dialog_open_botFile()">Icon from File</a></li>
                <li class="nav__submenu-item"> <a href="javascript: Dialog_open_VoiceOptions()">Voice Options</a></li>
            </ul>
        </li>
        <li class="nav__menu-item"><a>User Options</a>
            <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a href="javascript: Dialog_open_userIcon_Boy()">Boy's Icon</a></li>
                <li class="nav__submenu-item"> <a href="javascript: Dialog_open_userIcon_Girl()">Girl's Icon</a></li>
                <li class="nav__submenu-item"> <a href="javascript: Dialog_open_userFile()">Icon from File</a></li>
            </ul>
        </li>
        <li class="nav__menu-item"><a>Other Options</a>
            <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a href="javascript: Dialog_open_log_Save()">ログの保存</a></li>
                <li class="nav__submenu-item"> <a href="javascript: Dialog_open_dummy()">Dummy</a></li>
            </ul>
        </li>
      </font></ul>
    </nav>
    <input type="button" class="rightButton" value="閉じる" onclick="Dialog_close_menu()">
</dialog>

<!-- Dialog Box for Information -->
<dialog dialog id="dialog_information">
    <center>
        ダイアログ（Information）
    </center>
    <hr>
・これは、情報ウィンドウです。<br><br>
・Microsoft Edge及びGoogle Chrome対応の音声変換器です。<br><br>
・「設定」から各種設定が可能です。<br><br>
・ボットの音声変更、ボットとユーザのアイコンの変更やログデータの保存が出来ます。<br><br>
    <hr>
    <input type="button" class="rightButton" value="閉じる" onclick="Dialog_close_information()">
</dialog>

<!-- Dialog Box for Manual -->
<dialog dialog id="dialog_manual">
    <center>
        ダイアログ（Manual）
    </center>
    <hr>
    <center>
    <textarea rows="10" cols="50" readonly style="resize: none; width:480px; height:250px; text-align: left;">
・本プログラムを起動する前に、「VOICEVOX」を起動しておいてください。
・キー入力あるいは音声入力された言葉を指定したキャラクタの音声に変換して出力します。
・出力された音声データは、次のフォルダーにwavファイルとして保存されます。
保存先フォルダー：「.\Voice_Converter\static\audio」
・出力された音声データは、本プログラムを起動する毎に上書きされますので注意して下さい。
・「設定」⇒「Other Options」⇒「ログの保存」で、ログデータをCSVファイルに出力できます。（Windows10/11では、「ダウンロード」フォルダーにファイルが保存されます。）
・ログデータの番号と出力された音声データの番号は、一致するはずです。
・「VOICEVOX」及びそれに関連するキャラクター関連のライセンス及び利用規約については、「VOICEVOX」を参照ください。
    </textarea>
    </center>
    <hr>
    <input type="button" class="rightButton" value="閉じる" onclick="Dialog_close_manual()">
</dialog>

<!-- Dialog Box for Profile -->
<dialog dialog id="dialog_profile">
    <center>
        ダイアログ（Profile）
    </center>
    <hr>
    <div class="profile_wrapper">
        <div class="card">
            <div class="me">
                <div class="eye"></div>
            </div>
            <div class="text">
                 HAL bou
            </div>
        </div>
    </div>
    <input type="button" class="rightButton" value="閉じる" onclick="Dialog_close_profile()">
</dialog>

<!-- Select Bot Icon -->
<dialog dialog id="dialog_botIcon">
    <center>
        ダイアログ（Select Bot Icon）
    </center>
    <hr>
    <div class="radiobutton">
        <input type="radio" id="radio1" name="Dialog_radio_bot" value="/static/images/F021a_R.png" checked>
        <label for="radio1">　<img border="1" src="/static/images/F021a_R.png" width="64" height="64" alt="イラスト1"></label><br>
        <input type="radio" id="radio2" name="Dialog_radio_bot" value="/static/images/R_011_R.png">
        <label for="radio2">　<img border="1" src="/static/images/R_011_R.png" width="64" height="64" alt="イラスト2"></label><br>
        <input type="radio" id="radio3" name="Dialog_radio_bot" value="/static/images/R_012_R.png">
        <label for="radio3">　<img border="1" src="/static/images/R_012_R.png" width="64" height="64" alt="イラスト3"></label><br>
    </div>
    <hr>
    <div class="radiobutton_mid" style="top: -238px;">
        <input type="radio" id="radio4" name="Dialog_radio_bot" value="/static/images/R_017_R.png">
        <label for="radio4">　<img border="1" src="/static/images/R_017_R.png" width="64" height="64" alt="イラスト4"></label><br>
        <input type="radio" id="radio5" name="Dialog_radio_bot" value="/static/images/R_015_R.png">
        <label for="radio5">　<img border="1" src="/static/images/R_015_R.png" width="64" height="64" alt="イラスト5"></label><br>
    </div>
    <input type="button" class="leftButton" value="キャンセル" onclick="Dialog_cancel_botIcon()">           
    <input type="button" class="rightButton" value="決　定" onclick="Dialog_close_botIcon()">
</dialog>

<!-- Select User Icon Boy -->
<dialog dialog id="dialog_userIcon_Boy">
    <center>
        ダイアログ（Select User Icon/Boy）
    </center>
    <hr>
    <div class="radiobutton">
        <input type="radio" id="radio11" name="Dialog_radio_user_Boy" value="/static/images/M004_La.png" checked>
        <label for="radio11">　<img border="1" src="/static/images/M004_La.png" width="64" height="64" alt="イラスト1"></label><br>
        <input type="radio" id="radio12" name="Dialog_radio_user_Boy" value="/static/images/M008_L.png">
        <label for="radio12">　<img border="1" src="/static/images/M008_L.png" width="64" height="64" alt="イラスト2"></label><br>
        <input type="radio" id="radio13" name="Dialog_radio_user_Boy" value="/static/images/M011_L.png">
        <label for="radio13">　<img border="1" src="/static/images/M011_L.png" width="64" height="64" alt="イラスト3"></label><br>
    </div>
    <hr>
    <div class="radiobutton_mid" style="top: -238px;">
        <input type="radio" id="radio14" name="Dialog_radio_user_Boy" value="/static/images/M012_L.png">
        <label for="radio14">　<img border="1" src="/static/images/M012_L.png" width="64" height="64" alt="イラスト4"></label><br>
        <input type="radio" id="radio15" name="Dialog_radio_user_Boy" value="/static/images/M026_La.png">
        <label for="radio15">　<img border="1" src="/static/images/M026_La.png" width="64" height="64" alt="イラスト5"></label><br>
    </div>
    <input type="button" class="leftButton" value="キャンセル" onclick="Dialog_cancel_userIcon_Boy()">           
    <input type="button" class="rightButton" value="決　定" onclick="Dialog_close_userIcon_Boy()">
</dialog>

<!-- Select User Icon Girl -->
<dialog dialog id="dialog_userIcon_Girl">
    <center>
        ダイアログ（Select User Icon/Girl）
    </center>
    <hr>
    <div class="radiobutton">
        <input type="radio" id="radio21" name="Dialog_radio_user_Girl" value="/static/images/F003_L.png" checked>
        <label for="radio21">　<img border="1" src="/static/images/F003_L.png" width="64" height="64" alt="イラスト1"></label><br>
        <input type="radio" id="radio22" name="Dialog_radio_user_Girl" value="/static/images/F007_L.png">
        <label for="radio22">　<img border="1" src="/static/images/F007_L.png" width="64" height="64" alt="イラスト2"></label><br>
        <input type="radio" id="radio23" name="Dialog_radio_user_Girl" value="/static/images/F014_L.png">
        <label for="radio23">　<img border="1" src="/static/images/F014_L.png" width="64" height="64" alt="イラスト3"></label><br>
    </div>
    <hr>
    <div class="radiobutton_mid" style="top: -238px;">
        <input type="radio" id="radio24" name="Dialog_radio_user_Girl" value="/static/images/F019_L.png">
        <label for="radio24">　<img border="1" src="/static/images/F019_L.png" width="64" height="64" alt="イラスト4"></label><br>
        <input type="radio" id="radio25" name="Dialog_radio_user_Girl" value="/static/images/F047_L.png">
        <label for="radio25">　<img border="1" src="/static/images/F047_L.png" width="64" height="64" alt="イラスト5"></label><br>
    </div>
    <input type="button" class="leftButton" value="キャンセル" onclick="Dialog_cancel_userIcon_Girl()">           
    <input type="button" class="rightButton" value="決　定" onclick="Dialog_close_userIcon_Girl()">
</dialog>

<!-- Icon Load form File -->
<dialog dialog id="dialog_imageFile">
    <center>
        ダイアログ（File Input Image File）
    </center>
    <hr>
    <span id="image_File" style="font-size: 16px;">　Bot用画像ファイルの選択：　</span>
    <form name="photoinput_image">
        <center>　
            <input type="file" accept="image/*" name="select_imageFile" id="select_imageFile" value="" onchange="updateImageDisplay_File()">
            <div class="preview">
                <p>Photo File is not selected.</p>
            </div>
        </center>
    </form>
    <input type="button" class="leftButton" value="キャンセル" onclick="Dialog_cancel_imageFile()">           
    <input type="button" class="rightButton" value="決　定" onclick="Dialog_close_imageFile()">
</dialog>

<!-- Dialog Box for Voice Options -->
<dialog dialog id="dialog_VoiceOptions">
    <center>
        ダイアログ（Voice Options）
    </center>
    <hr>
    <center>
        <select size="10" name="voice-select" id="selectVoice">
        <option value = "0" selected>0:四国めたん（あまあま）</option>
        <option value = "1">1:ずんだもん（あまあま）</option>
        <option value = "2">2:四国めたん（ノーマル）</option>
        <option value = "3">3:ずんだもん（ノーマル）</option>
        <option value = "4">4:四国めたん（セクシー）</option>
        <option value = "5">5:ずんだもん（セクシー）</option>
        <option value = "6">6:四国めたん（ツンツン）</option>
        <option value = "7">7:ずんだもん（ツンツン）</option>
        <option value = "8">8:春日部つむぎ（ノーマル）</option>
        <option value = "9">9:波音リツ（ノーマル）</option>
        <option value = "10">10:雨晴はう（ノーマル）</option>
        <option value = "11">11:玄野武宏（ノーマル）</option>
        <option value = "12">12:白上虎太郎（ノーマル）</option>
        <option value = "13">13:青山龍星（ノーマル）</option>
        <option value = "14">14:冥鳴ひまり（ノーマル）</option>
        <option value = "15">15:九州そら（あまあま）</option>
        <option value = "16">16:九州そら（ノーマル）</option>
        <option value = "17">17:九州そら（セクシー）</option>
        <option value = "18">18:九州そら（ツンツン）</option>
        <option value = "19">19:九州そら（ささやき）</option>
        <option value = "20">20:もち子さん（ノーマル）</option>
        <option value = "21">21:剣崎雌雄（ノーマル）</option>
        <option value = "22">22:ずんだもん（ささやき）</option>
        <option value = "23">23:WhiteCUL（ノーマル）</option>
        <option value = "24">24:WhiteCUL（たのしい）</option>
        <option value = "25">25:WhiteCUL（かなしい）</option>
        <option value = "26">26:WhiteCUL（びえーん）</option>
        <option value = "27">27:後鬼（人間Ver.）</option>
        <option value = "28">28:後鬼（ぬいぐるみver.）</option>
        <option value = "29">29:No.7（ノーマル）</option>
        <option value = "30">30:No.7（アナウンス）</option>
        <option value = "31">31:No.7（読み聞かせ）</option>
        <option value = "32">32:白上虎太郎（わーい）</option>
        <option value = "33">33:白上虎太郎（びくびく）</option>
        <option value = "34">34:白上虎太郎（おこ）</option>
        <option value = "35">35:白上虎太郎（びえーん）</option>
        <option value = "36">36:四国めたん（ささやき）</option>
        <option value = "37">37:四国めたん（ヒソヒソ）</option>
        <option value = "38">38:ずんだもん（ヒソヒソ）</option>        
        </select>
        <br/><br/>
    </center>
    <hr>
    <input type="button" class="leftButton" value="キャンセル" onclick="Dialog_cancel_VoiceOptions()">
    <input type="button" class="rightButton" value="決　定" onclick="Dialog_close_VoiceOptions()">
</dialog>

<!-- Dialog Box for Log File -->
<dialog dialog id="dialog_log_Save">
    <center>
        ダイアログ（Log Save/Shift-JIS）
    </center>
    <hr>
    <span style="font-size: 16px;">　ログの保存：　</span>
    <center>
        <div style="width:480px; height:220px; white-space: nowrap; overflow:scroll;">
            <table border="1" id="dialog_log_Save_SJIS" style="font-size: 14px;"></table>
        </div>
    </center>
    <hr>
    <input type="button" class="leftButton" value="キャンセル" onclick="Dialog_cancel_log_Save()"> 
    <a class="rightButton" id="log_download_SJIS" style="font-size: 18px;" href="#" download="Log_Data.csv" onclick="Dialog_close_log_Save()">ファイル保存</a>
</dialog>

<!-- Dialog Box for Dummy -->
<dialog dialog id="dialog_dummy">
    <center>
        ダイアログ（Dummy）
    </center>
    <hr>
・これは、ダミー・ウィンドウです。<br>
    <br><br>
    <br><br>
    <hr>
    <input type="button" class="rightButton" value="閉じる" onclick="Dialog_close_dummy()">
</dialog>

    <script>
        let bot_icon = "/static/images/F021a_R.png"
        let user_icon = "/static/images/M008_L.png"
        let Speak = document.getElementById('Speech_Flag');
        let Voice = document.getElementById('Voice_Flag');
        let Flag_Speech = 0;
        let image;
        let image_Flag = 0;
        let log_data = new Array();
        let File_Input_Title = document.getElementById('image_File');
        const voiceSelect = document.getElementById('selectVoice');
        SpeechRecognition = webkitSpeechRecognition || SpeechRecognition;
        let recognition = new SpeechRecognition();
        recognition.lang = 'ja-JP';
        recognition.interimResults = false;
        recognition.continuous = true;
        let temp_word;
        let sound = new Audio();
        let ST_id;
        let python_Flag = 0;

// 音声入力、音声認識のON/OFF設定
        function OnButtonClick_01() {
            if (Flag_Speech == 1) {
                Flag_Speech = 0;
                VoiceInputOff();
            }
            else {
                Flag_Speech = 1;
                VoiceInputOn();
            }
        }
        function VoiceInputOff() {  
            Speak.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:10%; font-size: 20px; background-color: #ff0000;" value="音声入力 OFF" onclick="OnButtonClick_01();">';
            recognition.stop();
        }
        function VoiceInputOn() {
            Speak.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:10%; font-size: 20px;" value="音声入力 ON " onclick="OnButtonClick_01();">';
            recognition.start();
        }

// Python とのやり取り
        function getBotResponse() {
            python_Flag = 1;
            VoiceInputOff();
            clearTimeout(ST_id);
            var rawText = $("#textInput").val();
            var userHtml = '<p class="userText"><span>' + rawText + 
            '</span><img src=' + user_icon + ' alt="USER" style="width:50px;height:50px;vertical-align:bottom;"/></p>';
            $("#textInput").val("");
            $("#chatbox").append(userHtml);
            document.getElementById("userInput").scrollIntoView({ block: "start", behavior: "smooth" });
            $.get("/get", { msg: rawText }).done(function(data) {
                var Temp = data.replace(/\n/g, '<br>');
                var botHtml = '<p class="botText"><img src=' + bot_icon + ' alt="BOT" style="width:50px;height:50px;vertical-align:bottom;"/><span>' + Temp + '</span></p>';
                $("#chatbox").append(botHtml);     
                speech(data);
                log_data.push([rawText, data]);
                document.getElementById("userInput").scrollIntoView({ block: "start", behavior: "smooth" });
                python_Flag = 0;
            });
        }

// 音声合成での発声（VOICEVOX）
        function speech(answer) {
            voice_count = answer.substr(0, 4);
            sound.preload = "none";
            sound.src = "static/audio/audio" + voice_count + ".wav";
            sound.load();
            sound.loop = false;
            sound.autoplay = true;
            VoiceInputOff();
            sound.play();
            sound.addEventListener("ended", function() {
                if (Flag_Speech == 1) {
                    VoiceInputOn();
                }
            }, false);
        }

// 音声認識処理
        recognition.onresult = (event) => {
          let interimTranscript = '';     // 暫定の認識結果（Androidでは、うまく機能しない）
          let finalTranscript = '';       // 確定した認識結果
          let question = '';
          if (Flag_Speech == 0) {
            answer = null;
            return;
          }      
          for (let i = event.resultIndex; i < event.results.length; i++) {
            if (event.results[i].isFinal) {
              finalTranscript = event.results[i][0].transcript;
            } else {
              interimTranscript = '';
            }
          }
          question = finalTranscript;
          if (question.length > 0) {
            if (question != undefined) {
              document.getElementById("textInput").value = question;
              getBotResponse();
            }
          }        
        }

        recognition.onend = (event) => {
            if (python_Flag == 1) {
                VoiceInputOff();
                clearTimeout(ST_id);
            }
            else if (sound.ended) {
                ST_id = setTimeout(confirm(), 10000);
            }
        }
        function confirm() {
            if (Flag_Speech == 1) {
                VoiceInputOn();
            }
            clearTimeout(ST_id);
        }

// Return Key 入力時の処理
        $("#textInput").keypress(function(e) {
          if (e.which == 13) {
            getBotResponse();
          }
        });

// for Dialog Box
        function Dialog_open_menu() {
            dialog_menu.showModal();
        }
        function Dialog_close_menu() {
            dialog_menu.close();
        }

        function Dialog_open_manual() {
            dialog_menu.close();
            dialog_manual.showModal();
        }
        function Dialog_close_manual() {
            dialog_manual.close();
        }

        function Dialog_open_information() {
            dialog_menu.close();
            dialog_information.showModal();
        }
        function Dialog_close_information() {
            dialog_information.close();
        }

        function Dialog_open_profile() {
            dialog_menu.close();
            dialog_profile.showModal();
        }
        function Dialog_close_profile() {
            dialog_profile.close();
        }

// for Profile Wrapper
        var $wrap = $('.profile_wrapper'),
            $lEye = $('.eye'),
            lFollowX = 5,
            lFollowY = 10,
            x = 0,
            y = 0,
            friction = 1 / 12;

        function animate() {
            x += (lFollowX - x) * friction;
            y += (lFollowY - y) * friction;
            $lEye.css({
                '-webit-transform': 'translate(' + -x + 'px, ' + -y + 'px)',
                '-moz-transform': 'translate(' + -x + 'px, ' + -y + 'px)',
                'transform': 'translate(' + -x + 'px, ' + -y + 'px)' 
            });
            $wrap.css({
                'transform': 'translate(-50%, -50%) perspective(600px) rotateY(' + -x + 'deg) rotateX(' + y + 'deg)' 
            });
            window.requestAnimationFrame(animate);
        }

        $(window).on('mousemove click', function (e) {
            var lMouseX = Math.max(-100, Math.min(100, $(window).width() / 2 - e.clientX));
            var lMouseY = Math.max(-100, Math.min(100, $(window).height() / 2 - e.clientY));
            lFollowX = 12 * lMouseX / 100;          // 100 : 12 = lMouxeX : lFollow
            lFollowY = 10 * lMouseY / 100;
        });
        animate();

// Select Bot Icon
        function Dialog_open_botIcon() {
            dialog_menu.close();
            dialog_botIcon.showModal();
        }
        function Dialog_cancel_botIcon() {
            dialog_botIcon.close();
        }
        function Dialog_close_botIcon() {
            var elements = document.getElementsByName('Dialog_radio_bot');
            var len = elements.length;
            var checkValue = '';

            for (let i = 0; i < len; i++){
                if (elements.item(i).checked){
                    checkValue = elements.item(i).value;
                }
            }
            bot_icon = checkValue;
            dialog_botIcon.close();
        }

// Select User Icon (Boy)
        function Dialog_open_userIcon_Boy() {
            dialog_menu.close();
            dialog_userIcon_Boy.showModal();
        }
        function Dialog_cancel_userIcon_Boy() {
            dialog_userIcon_Boy.close();
        }
        function Dialog_close_userIcon_Boy() {
            var elements = document.getElementsByName('Dialog_radio_user_Boy');
            var len = elements.length;
            var checkValue = '';

            for (let i = 0; i < len; i++){
                if (elements.item(i).checked){
                checkValue = elements.item(i).value;
                }
            }
            user_icon = checkValue;
            dialog_userIcon_Boy.close();
        }

// Select User Icon (Girl)
        function Dialog_open_userIcon_Girl() {
            dialog_menu.close();
            dialog_userIcon_Girl.showModal();
        }
        function Dialog_cancel_userIcon_Girl() {
            dialog_userIcon_Girl.close();
        }
        function Dialog_close_userIcon_Girl() {
            var elements = document.getElementsByName('Dialog_radio_user_Girl');
            var len = elements.length;
            var checkValue = '';

            for (let i = 0; i < len; i++){
                if (elements.item(i).checked){
                    checkValue = elements.item(i).value;
                }
            }
            user_icon = checkValue;
            dialog_userIcon_Girl.close();
        }

        function Dialog_open_botFile() {
            image_Flag = 0;
            File_Input_Title.innerHTML = "　Bot用画像ファイルの選択：　";
            dialog_menu.close();
            dialog_imageFile.showModal();
        }

        function Dialog_open_userFile() {
            image_Flag = 1;
            File_Input_Title.innerHTML = "　User用画像ファイルの選択：　";
            dialog_menu.close();
            dialog_imageFile.showModal();
        }

        function Dialog_close_imageFile() {
            if (image_Flag == 0) {
                bot_icon = image.src;
            }
            else {
                user_icon = image.src;
            }
            dialog_imageFile.close();
        }
        function Dialog_cancel_imageFile() { 
            dialog_imageFile.close();
        }
// Load Image File
        function updateImageDisplay_File() {
            var preview = document.querySelector('.preview');
            var file_input = $('#select_imageFile');
            var file = file_input[0].files[0];
            var para = document.createElement('p');
            if(file === undefined) {
                para.textContent = 'Photo File is not selected!';
                preview.removeChild(preview.childNodes.item(0));
                preview.appendChild(para);
            } else {
                while(preview.firstChild){
                    preview.removeChild(preview.firstChild);
                }
                preview.appendChild(para);
                image = document.createElement('img');
                image.src = window.URL.createObjectURL(file);
                preview.appendChild(image);
            }
        }

// Voice Options
        var temp_voice = "";
        voiceSelect.onchange = function(){
            temp_voice = this.value;
        }
        function Dialog_open_VoiceOptions() {
            VoiceInputOff();
            dialog_menu.close();
            dialog_VoiceOptions.showModal();
        }
        function Dialog_close_VoiceOptions() {
            temp_text = String(temp_voice);
            $.get("/get_Voice", { Voice_No: temp_text }).done(function( data ) {
                temp_text = data
            }).fail(function(){
                alert('failed');
            });
            Show_Voice();
            dialog_VoiceOptions.close();
            if (Flag_Speech == 1) {
                VoiceInputOn();
            }
        }
        function Dialog_cancel_VoiceOptions() {
            dialog_VoiceOptions.close();
            if (Flag_Speech == 1) {
                VoiceInputOn();
            }
       }
        function Show_Voice() {
            Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:四国めたん（あまあま）" onclick="Dialog_open_VoiceOptions();">';
            if (temp_voice == 1) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:ずんだもん（あまあま）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 2) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:四国めたん（ノーマル）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 3) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:ずんだもん（ノーマル）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 4) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:四国めたん（セクシー）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 5) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:ずんだもん（セクシー）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 6) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:四国めたん（ツンツン）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 7) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:ずんだもん（ツンツン）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 8) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:春日部つむぎ（ノーマル）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 9) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:波音リツ（ノーマル）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 10) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:雨晴はう（ノーマル）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 11) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:玄野武宏（ノーマル）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 12) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:白上虎太郎（ノーマル）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 13) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:青山龍星（ノーマル）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 14) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:冥鳴ひまり（ノーマル）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 15) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:九州そら（あまあま）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 16) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:九州そら（ノーマル）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 17) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:九州そら（セクシー）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 18) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:九州そら（ツンツン）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 19) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:九州そら（ささやき）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 20) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:もち子さん（ノーマル）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 21) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:剣崎雌雄（ノーマル）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 22) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:ずんだもん（ささやき）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 23) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:WhiteCUL（ノーマル）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 24) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:WhiteCUL（たのしい）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 25) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:WhiteCUL（かなしい）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 26) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:WhiteCUL（びえーん）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 27) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:後鬼（人間Ver.）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 28) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:後鬼（ぬいぐるみver.）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 29) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:No.7（ノーマル）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 30) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:No.7（アナウンス）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 31) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:No.7（読み聞かせ）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 32) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:白上虎太郎（わーい）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 33) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:白上虎太郎（びくびく）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 34) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:白上虎太郎（おこ）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 35) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:白上虎太郎（びえーん）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 36) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:四国めたん（ささやき）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 37) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:四国めたん（ヒソヒソ）" onclick="Dialog_open_VoiceOptions();">';
            } else if (temp_voice == 38) {
                Voice.innerHTML = '<input type="button" class="normalButton" style="position:absolute; top:60px; left:36%; font-size: 20px; background-color: #0000ff;" value="VOICEVOX:ずんだもん（ヒソヒソ）" onclick="Dialog_open_VoiceOptions();">';
           }
        }

// Save Log Data
        function Dialog_open_log_Save() {
            var dialog_log_SJIS = document.getElementById('dialog_log_Save_SJIS');
            var insertElement = '';
            dialog_menu.close();
            dialog_log_Save.showModal();
            for (var i=0; i<log_data.length; i++) {
                insertElement += '<tr>';
				    for (var j=0; j<log_data[i].length; j++) {
					    insertElement += '<td>' + log_data[i][j] + '</td>';
				    }
				    insertElement += '</tr>';
            }
            dialog_log_SJIS.innerHTML = insertElement;
        }
        function Dialog_cancel_log_Save() {
            dialog_log_Save.close();
        }
        function Dialog_close_log_Save() {
            log_Data_Save_SJIS();
            log_data = [];
            dialog_log_Save.close();
        }
        function log_Data_Save_SJIS() {
            var Temp_str = '';
            for (var i=0; i<log_data.length; i++) {
                for (var j=0; j<log_data[i].length; j++) {
                    Temp_str = Temp_str + log_data[i][j] + ',';
                }
                Temp_str = Temp_str + '\n';
            }
            
            var strArray = Encoding.stringToCode(Temp_str);
            var convertedArray = Encoding.convert(strArray, 'SJIS', 'UNICODE');
            var UintArray = new Uint8Array(convertedArray);
            var blob = new Blob([UintArray], { type: 'text/csv' });
            if (window.navigator.msSaveBlob) { 
                window.navigator.msSaveBlob(blob, "Log_Data.csv"); 
                // msSaveOrOpenBlobの場合はファイルを保存せずに開ける
                window.navigator.msSaveOrOpenBlob(blob, "Log_Data.csv"); 
            } else {
                document.getElementById("log_download_SJIS").href = window.URL.createObjectURL(blob);
            }
        }

// for Dummy
        function Dialog_open_dummy() {
            dialog_menu.close();
            dialog_dummy.showModal();            
        }
        function Dialog_close_dummy() {
            dialog_dummy.close();            
        }

    </script>
  </body>
</html>
